streamlit
pandas==2.2.2
google-generativeai
google-cloud-aiplatform
google-cloud-translate
google-cloud-storage
gspread
gspread-formatting
Pillow
google-auth
google-auth-oauthlib
google-auth-httplib2